



<div class="col-md-6">
    <div class="card border-primary text-dark">
        <div class="card-header d-flex justify-content-between align-items-center bg-transparent">
            <h5 class="mb-0">چارت تعداد نامه ها</h5>
        </div>
        <div class="card-body p-2">
            <canvas id="combinedBarChart" class="w-100"></canvas>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var barChartCanvas = document.getElementById("combinedBarChart").getContext("2d");

        if (barChartCanvas) {
            var barChart = new Chart(barChartCanvas, {
                type: "bar",
                data: {
                    labels: ["فروردین", "اردیبهشت", "خرداد", "تیر", "مرداد", "شهریور", "مهر", "آبان", "آذر", "دی", "بهمن", "اسفند"],
                    datasets: [{
                        label: 'تعداد نامه های وارده',
                        data: [
    @Model.CountIncomingLetterFarvardin, @Model.CountIncomingLetterOrdibehesh, @Model.CountIncomingLetterKhordad, @Model.CountIncomingLetterTir, @Model.CountIncomingLetterMordad, @Model.CountIncomingLetterShahrivar,
    @Model.CountIncomingLetterMehr, @Model.CountIncomingLetterAban, @Model.CountIncomingLetterAzar, @Model.CountIncomingLetterDey, @Model.CountIncomingLetterBahman, @Model.CountIncomingLetterEsfand
                            ],
                        backgroundColor: ["#87ceeb", "#87ceeb"],
                    },
                    {
                        label: 'تعداد نامه های صادره',
                        data: [
    @Model.CountOutgoingLetterFarvardin, @Model.CountOutgoingLetterOrdibehesh, @Model.CountOutgoingLetterKhordad, @Model.CountOutgoingLetterTir, @Model.CountOutgoingLetterMordad, @Model.CountOutgoingLetterShahrivar,
    @Model.CountOutgoingLetterMehr, @Model.CountOutgoingLetterAban, @Model.CountOutgoingLetterAzar, @Model.CountOutgoingLetterDey, @Model.CountOutgoingLetterBahman, @Model.CountOutgoingLetterEsfand
                                ],
                        backgroundColor: ["#ffc0cb", "#ffc0cb"],
                    }]
                }
            });
        }
    });
</script>
